<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Api" value="http://ceseat-api.fr/" />
        <add key="serveurMonitoring" value="http://ceseat-api.fr/proxy-stats"/>
        <add key="ApiAuth" value="http://ceseat-api.fr/" />
    </appSettings>
</configuration>